:root {
    /*Colors*/
    --1st-color: #222831;
    --2nd-color: #393e46;
    --3rd-color: #00adb5;
    --4th-color: #eeeeee;
  
    /* Border radius */
  
    --br: 0.5rem;
  }
  
  .light-mode {
    --1st-color: #40a2e3;
    --2nd-color: #fff6e9;
    --3rd-color: #bbe2ec;
    --4th-color: #0d9276;
  }
  
  a {
    text-decoration: none;
    color: var(--3rd-color);
  }
  p {
    color: var(--4th-color);
    font-family: "Poppins", sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    background-color: var(--1st-color);
  }
  
  h1 {
    color: var(--3rd-color);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }
  
  form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--2nd-color);
    color: var(--4th-color);
    border-radius: var(--br);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    padding-left: 0.1rem;
    margin: 1rem 0rem;
    font-weight: bold;
    font-family: Poppins, sans-serif;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--2nd-color);
    color: var(--3rd-color);
    border: 1px solid var(--3rd-color);
    font-family: "Poppins", sans-serif;
    border-radius: var(--br);
  }
  
  button[type="submit"] {
    font-family: "Poppins", sans-serif;
    display: block;
    width: 100%;
    margin: 1rem 0rem;
    padding: 1rem;
    color: var(--4th-color);
    background-color: var(--1st-color);
    color: var(--3rd-color);
    border: none;
    border-radius: var(--br);
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: var(--3rd-color);
    color: var(--1st-color);
  }
  
  button[type="submit"]:active {
    transform: scale(0.98);
  }
  
  #weatherbox {
    width: auto;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  img {
    width: auto;
    height: 100px;
  }